/* Responsive design for mobile device */

@media screen and (max-width: 576px) {

    /* nav style  */
    .logo-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo-icon {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .menus {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

/* banner style  */
    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-text {
        width: 90%;
        padding: 0 40px;
        margin: 0px 40px;

    }


    .banner-img {

        width: 90%;
    }

    .banner-img img {
        width: 90%;
        height: 60%;
    }
/* featured gamer styles  */

    .feature-gamer {
        flex-direction: column;
        background-color: white;
    
    }
    
    .gamer-img {
        width: 100%;
    }

    
    .gamer-text {
        width: 100%;
        text-align: center;
    
    
    }
    
   /* online games styles  */
   .funny-videos{
    grid-template-columns: 1fr;
    place-items: center;

}

/* double image styles  */
.info-container{
    flex-direction: column;
}
.text-box{
    width: 100%;

    
}
.img-box{
    width: 80%;
    margin-left: 100px;
    
}
.img-box img{
    height: 250px;
    width: 250px;
    
}
.small-img img{

    height: 120px;
    width: 120px;
 }

 /* .second-box{
    flex-direction:column-reverse;
 } */

 /* double image styles ends  */

 /* careers styles start  */

 .careers-container{
    flex-direction: column;
    
    }
    .career-box{
        width: 80%;
    }

.career-info {
    width: 90%;
margin-left: 2px;
margin-right: 0px;

}
.job-container{
    font-size: 16px;
    gap: 0;
}
.postion{
    font-size: 14px;
    }
    .location{
        font-size: 14px;
    }

.career-img{
    width: 90%;
}
.career-img img{
    height: 350px;
    width: 350px;
    margin-left: 30px;
}

 /* careers styles ends  */



 /* game type style starts  */

 .game-type-container{
padding: 5px 5px;
}

 .game-type{
    flex-basis: 25px;
    align-items: center;
}
 .game-type h3{
font-size: 18px;
}
.game-type img{
    width: 25px;
    height: 25px;
}


 /* game type style ends  */



   
}



/* Responsive design for mobile device ends here*/









/* Responsive design for tablet device */

@media screen and (min-width: 577px) and (max-width: 992px) {
    /* nav style  */
    .menus {
        flex-direction: column;

    }

    /* banner style  */
    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-text {
        width: 90%;
        padding: 0 40px;
        margin: 0px 40px;
        text-align: center;

    }


    .banner-img {

        width: 90%;
    }

    .banner-img img {
        width: 90%;
        height: 60%;
    }

/* featured gamer style  */
    .feature-gamer {
        flex-direction: column;
    
    }
    
    .gamer-img {
        width: 100%;
    }

    
    .gamer-text {
        width: 100%;
        text-align: center;
    
    
    }

    /* online games styles  */
   .funny-videos{
    grid-template-columns: repeat(2, 1fr);
    place-items: center;

}

/* double image styles  */
.info-container{
    flex-direction: column;
}
.text-box{
    width: 100%;

    
}
.img-box{
    width: 70%;
    margin-left: 200px;
    
}
.img-box img{
    height: 500px;
    width: 500px;
    
}
.small-img img{

    height: 250px;
    width: 250px;
 }

 /* career styles 
  */
  .careers-container{
    flex-direction: column;
    
    }
    .career-box{
        width: 95%;
    }

.career-info {
    width: 90%;
margin-left: 50px;
margin-right: 50px;

}
.job-container{
    font-size: 24px;
    gap: 20px;
}
.postion{
    font-size: 18px;
    }
    .location{
        font-size: 18px;
    }

.career-img{
    width: 90%;
}
.career-img img{
    height: 500px;
    width: 500px;
    margin-left: 50px;
}

/* game type style starts  */

.game-type-container{
    padding: 5px 5px;
    }
    
     .game-type{
        flex-basis: 2px;
    }
     .game-type h3{
    font-size: 18px;
    }
    .game-type img{
        width: 25px;
        height: 25px;
    }
    
    
     /* game type style ends  */

}

/* Responsive design for tablet device ends here*/