/* Responsive design for mobile device */

@media screen and (max-width: 576px) {

    /* nav style  */
    .logo-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo-icon {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .menus {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

/* banner style  */
    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-text {
        width: 90%;
        padding: 0 40px;
        margin: 0px 40px;

    }


    .banner-img {

        width: 90%;
    }

    .banner-img img {
        width: 90%;
        height: 60%;
    }
/* featured gamer styles  */

    .feature-gamer {
        flex-direction: column;
        background-color: white;
    
    }
    
    .gamer-img {
        width: 100%;
    }

    
    .gamer-text {
        width: 100%;
        text-align: center;
    
    
    }
    
   /* online games styles  */
   .funny-videos{
    grid-template-columns: 1fr;
    place-items: center;

}

/* double image styles  */
.info-container{
    flex-direction: column;
}
.text-box{
    width: 100%;

    
}
.img-box{
    width: 80%;
    margin-left: 100px;
    
}
.img-box img{
    height: 250px;
    width: 250px;
    
}
.small-img img{

    height: 120px;
    width: 120px;
 }
   
}



/* Responsive design for mobile device ends here*/






/* Responsive design for tablet device */

@media screen and (min-width: 577px) and (max-width: 992px) {
    /* nav style  */
    .menus {
        flex-direction: column;

    }

    /* banner style  */
    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-text {
        width: 90%;
        padding: 0 40px;
        margin: 0px 40px;
        text-align: center;

    }


    .banner-img {

        width: 90%;
    }

    .banner-img img {
        width: 90%;
        height: 60%;
    }

/* featured gamer style  */
    .feature-gamer {
        flex-direction: column;
    
    }
    
    .gamer-img {
        width: 100%;
    }

    
    .gamer-text {
        width: 100%;
        text-align: center;
    
    
    }

    /* online games styles  */
   .funny-videos{
    grid-template-columns: repeat(2, 1fr);
    place-items: center;

}

/* double image styles  */
.info-container{
    flex-direction: column;
}
.text-box{
    width: 100%;

    
}
.img-box{
    width: 70%;
    margin-left: 200px;
    
}
.img-box img{
    height: 500px;
    width: 500px;
    
}
.small-img img{

    height: 250px;
    width: 250px;
 }

}

/* Responsive design for tablet device ends here*/